In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('AB_NYC_2019.csv')
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
features =['neighbourhood_group',
'room_type',
'latitude',
'longitude',
'price',
'minimum_nights',
'number_of_reviews',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365',]

In [4]:
df = data[features]
df.head()

,neighbourhood_group,room_type,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Brooklyn,Private room,40.64749,-73.97237,149,1,9,0.21,6,365
1,Manhattan,Entire home/apt,40.75362,-73.98377,225,1,45,0.38,2,355
2,Manhattan,Private room,40.80902,-73.94190,150,3,0,NaN,1,365
3,Brooklyn,Entire home/apt,40.68514,-73.95976,89,1,270,4.64,1,194
4,Manhattan,Entire home/apt,40.79851,-73.94399,80,10,9,0.10,1,0

In [5]:
df.isnull().sum()

neighbourhood_group                   0
room_type                             0
latitude                              0
longitude                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [6]:
df = df[features].fillna(0)

## Question1

In [7]:
df.neighbourhood_group.value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
df_full_train,df_test = train_test_split(df, test_size = 0.2 , random_state = 42)

In [10]:
df_train,df_val = train_test_split(df_full_train, test_size= 0.25, random_state =42)

In [11]:

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_val.price.values

del df_train['price']
del df_val['price']
del df_test['price']

In [12]:
y_train

array([ 99,  57,  70, ..., 299,  65,  92], dtype=int64)

## Question2

In [13]:
categorical= list(df_full_train.dtypes[df_full_train.dtypes == 'object'].index)
categorical

['neighbourhood_group', 'room_type']

In [14]:
numerical= ['latitude',
 'longitude',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [15]:
df_full_train[numerical].corrwith(df_full_train.price).abs()

latitude                          0.035015
longitude                         0.149080
minimum_nights                    0.042740
number_of_reviews                 0.048926
reviews_per_month                 0.051978
calculated_host_listings_count    0.055336
availability_365                  0.080562
dtype: float64

In [16]:
corr_df = df_full_train.corr()
corr_df

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
latitude,1.000000,0.080704,0.035015,0.025497,-0.011836,-0.013809,0.020299,-0.008341
longitude,0.080704,1.000000,-0.149080,-0.063498,0.057570,0.134401,-0.115289,0.082994
price,0.035015,-0.149080,1.000000,0.042740,-0.048926,-0.051978,0.055336,0.080562
minimum_nights,0.025497,-0.063498,0.042740,1.000000,-0.077860,-0.121687,0.121748,0.140596
number_of_reviews,-0.011836,0.057570,-0.048926,-0.077860,1.000000,0.584935,-0.072603,0.175428
reviews_per_month,-0.013809,0.134401,-0.051978,-0.121687,0.584935,1.000000,-0.047368,0.165565
calculated_host_listings_count,0.020299,-0.115289,0.055336,0.121748,-0.072603,-0.047368,1.000000,0.223328
availability_365,-0.008341,0.082994,0.080562,0.140596,0.175428,0.165565,0.223328,1.000000

In [17]:
df_full_train.price

32645    295
23615     70
31183     58
29260     75
7275      38
        ...
11284     60
44732     85
38158    130
860      150
15795    120
Name: price, Length: 39116, dtype: int64

In [18]:
y_train = (y_train >= 152).astype(int)
y_test =(y_test >=152).astype(int)
y_val= (y_val>= 152).astype(int)
y_train_copy = y_train.copy()

In [19]:
above_average = (df_full_train.price >= 152).astype(int)
above_average

32645    1
23615    0
31183    0
29260    0
7275     0
        ..
11284    0
44732    0
38158    0
860      0
15795    0
Name: price, Length: 39116, dtype: int32

## Question 3

In [20]:
from sklearn.metrics import mutual_info_score

In [21]:
def mutual_info_price_score(series):
    return mutual_info_score(above_average,series)

In [22]:
score = df_full_train[categorical].apply(mutual_info_price_score)
score.sort_values(ascending=False)

room_type              0.142390
neighbourhood_group    0.046223
dtype: float64

In [23]:
score[1].round(2)

0.14

# # Question 4

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics import accuracy_score

In [25]:
#one-hot encoding
div = DictVectorizer()
XT = df_train[categorical+numerical].to_dict(orient='records')
X_train = div.fit_transform(XT)

XVal =df_val[categorical+numerical].to_dict(orient='records')
X_val =div.fit_transform(XVal)

In [26]:
model = LogisticRegression(solver='liblinear', C=1.0, random_state=42)

In [27]:
model.fit(X_train,y_train)

LogisticRegression(random_state=42, solver='liblinear')

In [28]:
y_pred = model.predict_proba(X_val)[:, 1]
y_val = np.array(y_val)
price_decision = (y_pred >=0.5).astype(int)
original_accuracy = (y_val==price_decision).mean()
rounded_accuracy = round(original_accuracy,2)
rounded_accuracy

0.79

# # Question 5

In [29]:
feature = [
'neighbourhood_group',
'room_type',
'latitude',
'longitude',
'minimum_nights',
'number_of_reviews',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365',]

In [30]:
for f in feature:
    
    copy = feature.copy()
    copy.remove(f)
    
    train_dict = df_train[copy].to_dict(orient= 'records')
    X_train = div.fit_transform(train_dict)
    val_dict = df_val[copy].to_dict(orient = 'records')
    X_val = div.fit_transform(val_dict)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_val)

    above_average_decision = (y_pred >= 0.5)

    y_val = np.array(y_val)
    accuracy = str(abs((y_val == above_average_decision).mean() - original_accuracy))
    print('For the model without the feature ' + f + ': the difference in accuracy  is: ' + accuracy)

For the model without the feature neighbourhood_group: the difference in accuracy  is: 0.04090397791185196
For the model without the feature room_type: the difference in accuracy  is: 0.06186726659167607
For the model without the feature latitude: the difference in accuracy  is: 0.003988137846405615
For the model without the feature longitude: the difference in accuracy  is: 0.0037836179568463413
For the model without the feature minimum_nights: the difference in accuracy  is: 0.0007158196134573469
For the model without the feature number_of_reviews: the difference in accuracy  is: 0.00040903977911843636
For the model without the feature reviews_per_month: the difference in accuracy  is: 0.0
For the model without the feature calculated_host_listings_count: the difference in accuracy  is: 0.0011248593925760053
For the model without the feature availability_365: the difference in accuracy  is: 0.009407914919726035

# # Question 6

In [31]:
y_train = np.log1p(y_train_copy)
y_train

array([0.        , 0.        , 0.        , ..., 0.69314718, 0.        ,
       0.        ])

In [32]:
from sklearn.linear_model import Ridge

In [33]:
model = Ridge()
model.fit(X_train,y_train)

Ridge()

In [34]:
from sklearn.metrics import mean_squared_error
def rmse(y, y_pred):
    return mean_squared_error(y, y_pred)**0.5

In [35]:
y_pred = model.predict(X_val)
rmse(y_val, y_pred)

0.40284221124121056

In [41]:
values =[0, 0.01, 0.1, 1, 10]
for value in values:
    model = Ridge(alpha = value )
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    rmse_value = rmse(y_val, y_pred)
    print('The rmse for the alpha equal '+str(value)+ ' is :' + str(rmse_value))

The rmse for the alpha equal 0 is :0.40283913458717335
The rmse for the alpha equal 0.01 is :0.4028391962764175
The rmse for the alpha equal 0.1 is :0.4028394833824294
The rmse for the alpha equal 1 is :0.40284221124121056
The rmse for the alpha equal 10 is :0.4028703157344077